@import "tailwindcss";
@config "../tailwind.config.ts"; /* تأكد من صحة المسار للملف */
@plugin "tailwindcss-animate";

@layer utilities {

    /* Remove scrollbar */
  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }
 /* ===== TYPOGRAPHY */
    .text-36-bold {
        @apply text-[36px] leading-10 font-bold;
    }

    .text-32-bold {
        @apply text-[32px] leading-9 font-bold;
    }

    .text-24-bold {
        @apply text-[24px] leading-7 font-bold;
    }

    .text-18-bold {
        @apply text-[18px] leading-6 font-bold;
    }

    .text-16-semibold {
        @apply text-[16px] leading-5 font-semibold;
    }

    .text-16-regular {
        @apply text-[16px] leading-5 font-normal;
    }

    .text-14-medium {
        @apply text-[14px] leading-4.5 font-medium;
    }

    .text-14-regular {
        @apply text-[14px] leading-4.5 font-normal;
    }

    .text-12-regular {
        @apply text-[12px] leading-4 font-normal;
    }

    .text-12-semibold {
        @apply text-[12px] leading-4 font-semibold;
    }

    /* ===== UTILITIES */
    .sidebar {
        @apply w-full max-w-72 flex-col overflow-auto bg-dark-700 px-7 py-10;
    }

    .left-sidebar {
        @apply hidden lg:flex;
    }

    .right-sidebar {
        @apply hidden xl:flex;
    }

    .clip-text {
        @apply bg-clip-text text-transparent;
    }

    .bg-image {
        @apply bg-dark-700 bg-cover bg-no-repeat;
    }

    .header {
        @apply text-[32px] leading-9 font-bold md:text-[36px] md:leading-10 md:font-bold;
    }

    .sub-header {
        @apply text-[18px] leading-6 font-bold md:text-[24px] md:leading-7 md:font-bold;
    }

    .container {
        @apply relative flex-1 overflow-y-auto px-[5%];
    }

    .sub-container {
        @apply mx-auto flex size-full flex-col py-10;
    }

    .side-img {
        @apply hidden h-full object-cover md:block;
    }

    .copyright {
        @apply text-[14px] leading-4.5 font-normal justify-items-end text-center text-dark-600 xl:text-left;
    }

    /* =====  SHADCN OVERRIDES */
    .shad-primary-btn {
        @apply bg-green-500 text-white;
    }

    .shad-danger-btn {
        @apply bg-red-700 text-white;
    }

    .shad-gray-btn {
        @apply border border-dark-500 cursor-pointer bg-dark-400 text-white;
    }

    .shad-input-label {
        @apply text-[14px] leading-4.5 font-medium text-dark-700;
    }

    .shad-input {
        @apply bg-dark-400 placeholder:text-dark-600 border-dark-500 h-11 focus-visible:ring-0 focus-visible:ring-offset-0;
    }

    .shad-input-icon {
        @apply bg-dark-400 placeholder:text-dark-600 border-dark-500 h-11 focus-visible:ring-0 focus-visible:ring-offset-0;
    }

    .shad-textArea {
        @apply bg-dark-400 placeholder:text-dark-600 border-dark-500 focus-visible:ring-0 focus-visible:ring-offset-0;
    }

    .shad-combobox-item {
        @apply data-[disabled=true]:pointer-events-none data-[disabled=true]:opacity-50;
    }

    .shad-combobox-trigger {
        @apply h-11;
    }

    .shad-select-trigger {
        @apply bg-dark-400 placeholder:text-dark-600 border-dark-500 h-11 focus:ring-0 focus:ring-offset-0;
    }

    .shad-select-content {
        @apply bg-dark-400 border-dark-500;
    }

    .shad-dialog {
        @apply bg-dark-400 border-dark-500;
    }

    .shad-dialog button {
        @apply focus:ring-0 focus:ring-offset-0 focus-visible:border-none focus-visible:outline-none focus-visible:ring-transparent focus-visible:ring-offset-0;
    }

    .shad-error {
        @apply text-red-400;
    }

    .shad-table {
        @apply rounded-lg overflow-hidden;
    }

    .shad-table-row-header {
        @apply border-b border-dark-400 text-light-200 hover:bg-transparent;
    }

    .shad-table-row {
        @apply border-b border-dark-400 text-light-200;
    }

    .shad-otp {
        @apply w-full flex justify-between;
    }

    .shad-otp-slot {
        @apply text-[36px] leading-10 font-bold justify-center flex border border-dark-500 rounded-lg size-16 gap-4;
    }

    .shad-alert-dialog {
        @apply space-y-5 bg-dark-400 border-dark-500 outline-none;
    }

    .shad-sheet-content button {
        @apply top-2 focus:ring-0 focus:ring-offset-0 focus-visible:border-none focus-visible:outline-none focus-visible:ring-transparent focus-visible:ring-offset-0;
    }

    /* =====  REACT PHONE NUMBER INPUT OVERRIDES */
    .input-phone {
        @apply mt-2 h-11 rounded-md px-3 text-sm bg-dark-400 placeholder:text-dark-600 border-dark-500;
    }

    /* =====  REACT DATE PICKER OVERRIDES */
    .date-picker {
        @apply overflow-hidden border-transparent w-full placeholder:text-dark-600 h-11 text-[14px] leading-4.5 font-medium rounded-md px-3 outline-none;
    }
}

/* =====  REACT-DATEPICKER OVERRIDES */
.react-datepicker-wrapper.date-picker {
  display: flex;
  align-items: center;
}

.react-datepicker,
.react-datepicker__time,
.react-datepicker__header,
.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker-time__header {
  background-color: #1a1d21 !important;
  border-color: #363a3d !important;
  color: #abb8c4 !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker-time__header {
  color: #ffffff !important;
}

.react-datepicker__triangle {
  fill: #1a1d21 !important;
  color: #1a1d21 !important;
  stroke: #1a1d21 !important;
}

.react-datepicker__time-list-item:hover {
  background-color: #363a3d !important;
}

.react-datepicker__input-container input {
  background-color: #1a1d21 !important;
  width: 100%;
  outline: none;
}

.react-datepicker__day--selected {
  background-color: #24ae7c !important;
  color: #ffffff !important;
  border-radius: 4px;
}

.react-datepicker__time-list-item--selected {
  background-color: #24ae7c !important;
}

.react-datepicker__time-container {
  border-left: 1px solid #363a3d !important;
}

.react-datepicker__time-list-item {
  display: flex !important;
  align-items: center !important;
}

/* =====  REACT PHONE NUMBER INPUT OVERRIDES */
.PhoneInputInput {
  outline: none;
  margin-left: 4px;
  background: #1a1d21;
  font-size: 14px;
  font-weight: 500;
}

.PhoneInputInput::placeholder {
  color: #1a1d21;
}